/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/ex2/nbproject/private/
/ex2/build/
/projetocontabancaria/nbproject/private/
/projetocontabancaria/build/
/projprodestoque/nbproject/private/
/projprodestoque/build/